# Project 1

## Step 1: Open the `sat_scores.csv` file. Investigate the data, and answer the questions below.

##### 1. What does the data describe?

In [2]:
##The data describes the average Verbal and Math SAT scores in the all 50 states and the District of Columbia and attems to rate them accordingly.

##### 2. Does the data look complete? Are there any obvious issues with the observations?

In [3]:
#The data does not look complete becuase it does not include the written portion of the SAT which can account for 2-8 more points per person. 
#The data does have a issue with its rating column becuase it appears that there is no clear format for how the ratings are calculated. This causes an issue because it appears that the Verbal and Math Columns are not equally weighted. An example of this is that MA(79) has a lower rating than NJ(81), but MA scores 6 points higher in Verbal and 2 points higher in Math. This kind of inconsistency is consistent throughout the data.

##### 3. Describe in words what each variable(column) is.

In [ ]:
#Each Column is as follows: 
#"State" is a list of strings that lists the state it data relates to. 
#"Rate" is a list of integers that lists the states rating.
#"Verbal" is a list of integers that lists the states average Verbal Score.
#"Math" is a list of integers that lists the states average Math Score.

## Step 2: Load the data.

##### 4. Load the data into a list of lists

In [38]:
import csv           ##Format copied and adapted from 1.05-iteration-csvs lesson
data=[]
with open("../data/sat_scores.csv", "rU") as f:
    reader = csv.reader(f)
    for row in reader:
        data.append(row)

##### 5. Print the data

In [39]:
for i in data:
    print i

['State', 'Rate', 'Verbal', 'Math']
['CT', '82', '509', '510']
['NJ', '81', '499', '513']
['MA', '79', '511', '515']
['NY', '77', '495', '505']
['NH', '72', '520', '516']
['RI', '71', '501', '499']
['PA', '71', '500', '499']
['VT', '69', '511', '506']
['ME', '69', '506', '500']
['VA', '68', '510', '501']
['DE', '67', '501', '499']
['MD', '65', '508', '510']
['NC', '65', '493', '499']
['GA', '63', '491', '489']
['IN', '60', '499', '501']
['SC', '57', '486', '488']
['DC', '56', '482', '474']
['OR', '55', '526', '526']
['FL', '54', '498', '499']
['WA', '53', '527', '527']
['TX', '53', '493', '499']
['HI', '52', '485', '515']
['AK', '51', '514', '510']
['CA', '51', '498', '517']
['AZ', '34', '523', '525']
['NV', '33', '509', '515']
['CO', '31', '539', '542']
['OH', '26', '534', '439']
['MT', '23', '539', '539']
['WV', '18', '527', '512']
['ID', '17', '543', '542']
['TN', '13', '562', '553']
['NM', '13', '551', '542']
['IL', '12', '576', '589']
['KY', '12', '550', '550']
['WY', '11', '547', '545']
['MI', '11', '561', '572']
['MN', '9', '580', '589']
['KS', '9', '577', '580']
['AL', '9', '559', '554']
['NE', '8', '562', '568']
['OK', '8', '567', '561']
['MO', '8', '577', '577']
['LA', '7', '564', '562']
['WI', '6', '584', '596']
['AR', '6', '562', '550']
['UT', '5', '575', '570']
['IA', '5', '593', '603']
['SD', '4', '577', '582']
['ND', '4', '592', '599']
['MS', '4', '566', '551']
['All', '45', '506', '514']

##### 6. Extract a list of the labels from the data, and remove them from the data.

In [55]:
col_names=data[0]
dataset=data[1:]
print dataset

[['CT', '82', '509', '510'], ['NJ', '81', '499', '513'], ['MA', '79', '511', '515'], ['NY', '77', '495', '505'], ['NH', '72', '520', '516'], ['RI', '71', '501', '499'], ['PA', '71', '500', '499'], ['VT', '69', '511', '506'], ['ME', '69', '506', '500'], ['VA', '68', '510', '501'], ['DE', '67', '501', '499'], ['MD', '65', '508', '510'], ['NC', '65', '493', '499'], ['GA', '63', '491', '489'], ['IN', '60', '499', '501'], ['SC', '57', '486', '488'], ['DC', '56', '482', '474'], ['OR', '55', '526', '526'], ['FL', '54', '498', '499'], ['WA', '53', '527', '527'], ['TX', '53', '493', '499'], ['HI', '52', '485', '515'], ['AK', '51', '514', '510'], ['CA', '51', '498', '517'], ['AZ', '34', '523', '525'], ['NV', '33', '509', '515'], ['CO', '31', '539', '542'], ['OH', '26', '534', '439'], ['MT', '23', '539', '539'], ['WV', '18', '527', '512'], ['ID', '17', '543', '542'], ['TN', '13', '562', '553'], ['NM', '13', '551', '542'], ['IL', '12', '576', '589'], ['KY', '12', '550', '550'], ['WY', '11', '547', '545'], ['MI', '11', '561', '572'], ['MN', '9', '580', '589'], ['KS', '9', '577', '580'], ['AL', '9', '559', '554'], ['NE', '8', '562', '568'], ['OK', '8', '567', '561'], ['MO', '8', '577', '577'], ['LA', '7', '564', '562'], ['WI', '6', '584', '596'], ['AR', '6', '562', '550'], ['UT', '5', '575', '570'], ['IA', '5', '593', '603'], ['SD', '4', '577', '582'], ['ND', '4', '592', '599'], ['MS', '4', '566', '551'], ['All', '45', '506', '514']]

##### 7. Create a list of State names extracted from the data. (Hint: use the list of labels to index on the State column)

In [72]:
for i in dataset:
    print i[0]

CT
NJ
MA
NY
NH
RI
PA
VT
ME
VA
DE
MD
NC
GA
IN
SC
DC
OR
FL
WA
TX
HI
AK
CA
AZ
NV
CO
OH
MT
WV
ID
TN
NM
IL
KY
WY
MI
MN
KS
AL
NE
OK
MO
LA
WI
AR
UT
IA
SD
ND
MS
All

##### 8. Print the types of each column

In [92]:
print type("State"), type("Rate"), type("Verbal"), type("Math")
#State is the only one that should be a string the rest should be integers.

<type 'str'> <type 'str'> <type 'str'> <type 'str'>

##### 9. Do any types need to be reassigned? If so, go ahead and do it.

TypeError: list indices must be integers, not str

##### 10. Create a dictionary for each column mapping the State to its respective value for that column.

##### 11. Create a dictionary with the values for each of the numeric columns

In [ ]:
a=[]
b=[]
c=[]

for line in data:
    a.append(line[1])
    b.append(line[2])
    c.append(line[3])
values=[a,b,c]
numeric_dict=dict(zip(col_names, values))
print numeric_dict

## Step 3: Describe the data

##### 12. Print the min and max of each column

In [ ]:

def min_and_max(col_names, data):
    minimum=np.min(data[col_names])
    maximum=np.max(data[col_names])
    print "Maximum is " +str(minimum) + " and Minimum is " +str(minimum)

In [ ]:
min_and_max("Rate", )

In [ ]:
min_and_max("Verbal",)

In [ ]:
min_and_max("Math", )

##### 13. Write a function using only list comprehensions, no loops, to compute Standard Deviation. Print the Standard Deviation of each numeric column.

In [ ]:

def std_stats(col_names, data)
    std=np.std(data[col_names])
    print "Standard Deviation is "+ str(std)

In [ ]:
std_stats("Rate",)

In [ ]:
std_stats("Verbal",)

In [ ]:
std_stats("Math",)

## Step 4: Visualize the data

##### 14. Using MatPlotLib and PyPlot, plot the distribution of the Rate using histograms.

##### 15. Plot the Math(s) distribution

##### 16. Plot the Verbal distribution

##### 17. What is the typical assumption for data distribution?

##### 18. Does that distribution hold true for our data?

##### 19. Plot some scatterplots. **BONUS**: Use a PyPlot `figure` to present multiple plots at once.

##### 20. Are there any interesting relationships to note?

##### 21. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.